.modalOverlay {
  transition: all 1s ease;
  z-index: 999;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.664);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.frame {
  box-shadow: 3px 4px 8px 4px rgba(0, 0, 0, 0.75);
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 30px solid brown;

}

.image {

  box-shadow: 3px 4px 8px 4px rgba(0, 0, 0, 0.75);
}